
$black: #07011B;
$white: #FFF;
$green: #39FDCF;
$purple: #623061;

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,700');


// GENERAL
body {
  background: $black;
  color: $white;
  font-family: 'Rajdhani';
  padding-top: 50px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.flex-row {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.flex-sm-column {
  @media (max-width: 545px) {
    flex-direction: column;
    .col {
      display: block;
      margin-right: 0;
      margin: 0 auto;
    }
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}


// HEADER
.header {
  .logo {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: $green;
    border: 3px solid $green;
    border-radius: 5px;
    padding: 0 4px;
    margin-bottom: 16px;
    @media (min-width: 545px) {
      margin-right: 50px;
      margin-bottom: 0;
    }
  }
}


// INPUT
input {
  background: $black;
  color: $white;
  border-style: solid;
  border-color: $green;
  border-radius: 10px;
  font-family: 'Rajdhani';
  padding-left: 3px;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: rgba($white, .9);
  }
}

.results {
  position: absolute;
  background-color: $purple;
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    cursor: pointer;
    padding: 2px 4px;
    .small {
      font-size: .8rem;
      opacity: .8;
    }
  }
}


// EPISODE
.episode {
  margin-top: 50px;
  .col-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 545px) {
      margin-right: 30px;
    }
  }
  .col-details {
    h1 {
      margin-bottom: 0;
    }
    p {
      max-width: 400px;
    }
  }
}
