@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,700");
body {
  background: #07011B;
  color: #FFF;
  font-family: 'Rajdhani';
  padding-top: 50px; }

.container {
  max-width: 1000px;
  margin: 0 auto; }

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media (max-width: 545px) {
  .flex-sm-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .flex-sm-column .col {
      display: block;
      margin-right: 0;
      margin: 0 auto; } }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.header .logo {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #39FDCF;
  border: 3px solid #39FDCF;
  border-radius: 5px;
  padding: 0 4px;
  margin-bottom: 16px; }
  @media (min-width: 545px) {
    .header .logo {
      margin-right: 50px;
      margin-bottom: 0; } }

input {
  background: #07011B;
  color: #FFF;
  border-style: solid;
  border-color: #39FDCF;
  border-radius: 10px;
  font-family: 'Rajdhani';
  padding-left: 3px; }
  input:focus {
    outline: none; }
  input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.9); }
  input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.9); }
  input::placeholder {
    color: rgba(255, 255, 255, 0.9); }

.results {
  position: absolute;
  background-color: #623061;
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .results li {
    cursor: pointer;
    padding: 2px 4px; }
    .results li .small {
      font-size: .8rem;
      opacity: .8; }

.episode {
  margin-top: 50px; }
  .episode .col-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (min-width: 545px) {
      .episode .col-image {
        margin-right: 30px; } }
  .episode .col-details h1 {
    margin-bottom: 0; }
  .episode .col-details p {
    max-width: 400px; }
